In [1]:
#importing libraries
import pandas as pd
import numpy as np

## Reading the actual file

In [58]:
# reading the csv file
df = pd.read_csv('IceCreamData.csv')

In [3]:
#observing the data
df.head()

   Temperature     Revenue
0    24.566884  534.799028
1    26.005191  625.190122
2    27.790554  660.632289
3    20.595335  487.706960
4    11.503498  316.240194

## Performing Exploratory data analysis

In [4]:
# Performing EDA
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  500 non-null    float64
 1   Revenue      500 non-null    float64
dtypes: float64(2)
memory usage: 7.9 KB

In [5]:
df.describe()

       Temperature      Revenue
count   500.000000   500.000000
mean     22.232225   521.570777
std       8.096388   175.404751
min       0.000000    10.000000
25%      17.122258   405.558681
50%      22.392791   529.368565
75%      27.740674   642.257922
max      45.000000  1000.000000

In [6]:
# checking if any null value is present
df.isnull().sum()

Temperature    0
Revenue        0
dtype: int64

## Preparing for Decision tree

In [20]:
# Creating X and y to train and test the dataset
X = pd.DataFrame(df.iloc[:,0])
y = df.iloc[:,1]

In [42]:
# making train and test variables
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4)

In [55]:
# training the machine for Decision Tree, keeping max branches to 3
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(max_depth = 3)

# performing fit to train the machine with train variables
model.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=3)

## Done with training, now let us perform testing

In [56]:
# after done with training, it is time to test our model, here we are testing our model with temperature 40
# and we will have a revenue of Rs. 845 on this day
model.predict([[40]])

array([845.05152095])

## Checking the accuracy of the model

In [57]:
# checking the accuracy of our model
print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.9542999710498974
0.939259379166331