In [234]:
import pandas as pd
import numpy as np

## Reading the file

In [235]:
df = pd.read_csv('Position_Salaries.csv')

## Checking the file, we can understand that level and position are interrelation and which is why we will go with only 'LEVEL' column

In [236]:
df.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

## Checking the type of each column, we won't check for nulls as RandomForest takes care of that (also the data is same and verifiable on our own)

In [237]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

## Storing LEVEL column in X, and Salary column in y

In [238]:
X = pd.DataFrame(df.Level)
y = df.Salary

## Confirming the type and data of X and y variable

In [239]:
type(X)

pandas.core.frame.DataFrame

In [240]:
type(y)

pandas.core.series.Series

In [241]:
X

   Level
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10

In [242]:
y

0      45000
1      50000
2      60000
3      80000
4     110000
5     150000
6     200000
7     300000
8     500000
9    1000000
Name: Salary, dtype: int64

## Making variables for training and testing our model

In [243]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 1)

## Using RandomForest algorithm

In [244]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 20)

## Training our model

In [245]:
model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=20)

## Finally, after training we are checking the accuracy of our model

In [246]:
print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

1.0
0.0

## After training let us predict the salary with level 6.5

In [247]:
model.predict([[6.5]])

array([150000], dtype=int64)

# Conclusion:

From above we can see that, a person with level 6.5 will have a predicted salary of 1,50,000 which seems to be less that what the person has claimed to be 1,60,000. From here, we can conclude that the person is lying.