<b> As the excel file is too big, we are converting the file into csv file </b>

In [1]:
import pandas as pd
import time

In [2]:
# start = time.time()
# df = pd.concat(pd.read_excel(r"C:\sovi\Data Science\Python\week9\assignment\data.xlsx", sheet_name=None), ignore_index=True)

# end = time.time()
# print("Time needed to read excel file is", str(time.strftime('%M:%S', time.gmtime(end-start))))

In [3]:
#df1 = pd.DataFrame(df)
# saving the csv file in my computer
#df1.to_csv('data.csv')

<b> Now, reading the csv file </b>

In [54]:
start = time.time()
df = pd.read_csv("C:/sovi/Data Science/Python/week9/assignment/data.csv")
end = time.time()
print("Time needed to read excel file is", str(time.strftime('%M:%S', time.gmtime(end-start))))

Time needed to read excel file is 00:08

In [5]:
df

,Unnamed: 0,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,NaN,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,NaN,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,NaN,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17
...,...,...,...,...,...,...,...,...,...,...,...
2627921,2627921,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627922,2627922,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627923,2627923,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627924,2627924,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627925,2627925,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28

In [6]:
# removing the first column

#df = df.rename(columns = {'Unnamed: 0' : 'Index'})

df = df.drop(columns = ['Unnamed: 0'])
df

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,NaN,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,NaN,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,NaN,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17
...,...,...,...,...,...,...,...,...,...,...
2627921,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627922,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627923,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627924,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627925,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28

In [55]:
# removing duplicate rows
df.drop_duplicates(subset=['category', 'manufacturer', 'part_number', 'sku', 'alt_sku', 'description', 'status', 'qty', 'price', 'sku_create_date'], keep=False, inplace=True)

In [8]:
# checking if any of the row exists
df.iloc[2627916:2627924,]

Empty DataFrame
Columns: [category, manufacturer, part_number, sku, alt_sku, description, status, qty, price, sku_create_date]
Index: []

#

<b>
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</b>

# For data "In Stock"

#


<b> Question 1. Which are the top Manufacturers with price, quantity.
</b>

<b>
Answer- </b>

In [56]:
# filtering products that does have stock available
df1 = df[df["status"] != "No Stock"]

In [10]:
# Top manufacturers with price

top_price = df1.sort_values(by = 'price', ascending = False).head(5)
top_price

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
1199874,521,HPE - SWITCHING,JL376A#B2B,6RN996,NaN,"ARUBA 8400 1 MM 3 PS 2 FM 32/8, BDL JMPCBL-NA/...",In Stock,3,69729.03,2020-08-20
2620934,295,HPE - NIMBLE BTO,R3S72A,7JQ609,NaN,"HPE NS AF20 ALL FLASH 23TB BDL, 1 OR 3 YR SUPP...",In Stock,3,40893.99,2020-08-28
2571702,295,HPE - NIMBLE BTO,R3S72A,7JQ609,NaN,"HPE NS AF20 ALL FLASH 23TB BDL, 1 OR 3 YR SUPP...",In Stock,2,40893.99,2020-08-27
1203979,505,HPE - ARUBA INSTANT,JW830A,7U5737,NaN,"ARUBA 7240XM US FIPS/TAA, CONTROLLER PL=VL",In Stock,1,35554.13,2020-08-20
1203946,505,HPE - ARUBA INSTANT,JW675A,7U4379,NaN,"7240XMDC CONTROLLER, PL=VL",In Stock,3,29385.55,2020-08-20

In [11]:
# Top manufacturers with quantity

top_qty = df1.sort_values(by = 'qty', ascending = False).head(5)
top_qty

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
2364017,1221,DELL CSG SERVICE WARRANTIES,808-3177,4A1885,NaN,"3YR NBD TO 3YR PROSUP NBD, OPTIPLEX",In Stock,60063,38.76,2020-08-25
1135792,1221,DELL CSG SERVICE WARRANTIES,808-3123,4A1836,NaN,"1YR HW SVC WITH IN-HOME/OS SVC, AFTER REM DIAG...",In Stock,60018,129.96,2020-08-19
2609950,1221,DELL CSG SERVICE WARRANTIES,808-3108,4A1821,NaN,"1YR HW SVC WITH IN-HOME/OS SVC, AFTER REM DIAG...",In Stock,60014,136.42,2020-08-28
1245234,1221,DELL CSG SERVICE WARRANTIES,808-3105,4A1818,NaN,"1YR HW SVC WITH IN-HOME/OS SVC, AFTER REM DIAG...",In Stock,60005,84.24,2020-08-21
2558454,1221,DELL CSG SERVICE WARRANTIES,808-3105,4A1818,NaN,"1YR HW SVC WITH IN-HOME/OS SVC, AFTER REM DIAG...",In Stock,60004,84.06,2020-08-27

<b>
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</b>


<b>
Question 2. Which are the most profitable products?
</b>

<b>
Answer - </b>

In [12]:
# grouping products by date and product description using sum - it does total sum of price for duplicate products also, but price
# shouldn't be summed, which is why we will use mean in next step
grouped = df1.groupby(['sku_create_date','description']).sum()

# grouping products by date and product description using mean, total sum of price / quantity will give us a value approx. to real price
grouped_mean = df1.groupby(['sku_create_date','description']).mean()

# then pushing the mean price into sum price dataframe
grouped['price'] = grouped_mean['price'].round(1)

# making new column "Total_price"
grouped["Total_price"] = ""

# "Total_price" = quantity X price, for checking which product has most value
grouped["Total_price"] = grouped['price'] * grouped ['qty']

# Then sorting descending wise to get the max. "Total priced products"
grouped.sort_values(by = 'Total_price', ascending = False).head(10)

                                                  category    qty   price  \
sku_create_date description
2020-08-26      5YR PROSUPPORT PLUS,                  7326  59994  2548.6
2020-08-24      5YR PROSUPPORT PLUS,                  7326  59994  2413.8
2020-08-17      5YR PROSUPPORT PLUS,                  7326  59994  2413.8
2020-08-26      3YR NBD TO 5YR PROSPT 4H,             6105  49995  2776.4
                3YR PROSUPPORT PLUS,                  7326  59994  1588.4
                3YR PROSUPPORT MISSION CRITICAL,      6105  69993  1313.9
2020-08-17      3YR PROSUPPORT PLUS,                  7326  59994  1506.6
2020-08-24      3YR PROSUPPORT PLUS,                  7326  59994  1506.6
                3YR PROSUPPORT MISSION CRITICAL,      6105  69993  1280.1
2020-08-17      3YR PROSUPPORT MISSION CRITICAL,      6105  69993  1280.1

                                                  Total_price
sku_create_date description
2020-08-26      5YR PROSUPPORT PLUS,              152900708.4
2020-08-24      5YR PROSUPPORT PLUS,              144813517.2
2020-08-17      5YR PROSUPPORT PLUS,              144813517.2
2020-08-26      3YR NBD TO 5YR PROSPT 4H,         138806118.0
                3YR PROSUPPORT PLUS,               95294469.6
                3YR PROSUPPORT MISSION CRITICAL,   91963802.7
2020-08-17      3YR PROSUPPORT PLUS,               90386960.4
2020-08-24      3YR PROSUPPORT PLUS,               90386960.4
                3YR PROSUPPORT MISSION CRITICAL,   89598039.3
2020-08-17      3YR PROSUPPORT MISSION CRITICAL,   89598039.3

<b>
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</b>

<b> Question 3. Which is the product where you have seen decrease in the price? </b>

<b>
Answer - </b>

In [ ]:
# creating an empty list
my_list = []

# getting the unique names of all products
product_name = df1.description.unique() 

# looping throught all the products
for i in range(len(product_name)):
    
    # storing individual products
    data = df1[df1['description'] == product_name[i]];
    
    # then, iterating through the individual products because the same products have different creation dates
    for x in range(len(data)):
        
        # if the control is on last product then skip
        if x == (len(data) - 1):
            pass;
        
        # if not then check if the next product has lower value than the previous
        elif data.iloc[x, 8] > data.iloc[x + 1, 8]:
            my_list.append(data.iloc[0,5])

In [19]:
# printing the list with the names of products whose price is decreasing
my_list[0:10]

['BLACK 1U SC510T W/ 200W PWS, PFC HS',
 'JABRA LINK 280 USB CORD - GN QD, INLINE SW UPGRADABLE CONTROLS',
 'LABELWRITER 450 USB 51LPM, MAX 2.31IN PC/MAC',
 'SMART BUY DISPLAYPORT ADAPTER, DVI-D FEMALE X DP MALE ON VID CARD',
 'GIG POE CONVERTER BUNDLE, SGPOE1040-100 AND TN-SFP-SX',
 'EXCHANGE ROLLER KIT, FOR DR-6050C/7550C/9050C',
 'T94A01D PENDANT KIT FOR Q60 AND, P55 PTZ SERIES CAMERAS',
 'P33-VE PENDANT KIT,',
 '1FT CAT6 GREEN SNAGLESS PATCH, CABLE',
 '1FT CAT6 GREEN SNAGLESS PATCH, CABLE']

<b>
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</b>

<b> Question 4. Which is the product where you have seen increase in the price? </b>

<b>
Answer-
</b>

In [ ]:
# creating an empty list
my_list = []

# getting the unique names of all products
product_name = df1.description.unique() 

# looping throught all the products
for i in range(len(product_name)):
    
    # storing individual products
    data = df1[df1['description'] == product_name[i]];
    
    # then, iterating through the individual products because the same products have different creation dates
    for x in range(len(data)):
        
        # if the control is on last product then skip
        if x == (len(data) - 1):
            pass;
        
        # if not then check if the next product has higher value than the previous
        elif data.iloc[x, 8] < data.iloc[x + 1, 8]:
            my_list.append(data.iloc[0,5])

In [ ]:
my_list[-10:-1]



<b>
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</b>

<b> Question 5. Which is the top category by price and quantity? </b>

<b>
Answer - 
</b>

In [ ]:
# top category with max. price
df1.sort_values(by = 'price', ascending= False).head(1)

In [ ]:
# top categor with max quantity
df1.sort_values(by = 'qty', ascending= False).head(1)

<b> OR </b>

In [ ]:
# top category with max (price X quantity)
grouped.sort_values(by = 'Total_price' , ascending = False).head(1)



<b>
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</b>


<b> Question 6. Which products are aging? </b>

<b>
Answer - 
</b>

In [ ]:
# creating an empty list
my_list = []

# getting the unique names of all products
product_name = df1.description.unique() 

# looping throught all the products
for i in range(len(product_name)):
    
    # storing individual products
    data = df1[df1['description'] == product_name[i]];
    
    #if the product has more than 1 entries that means it is available for more than 1 day and hence, it is aging
    if len(data) == 1:
        pass
    else:
        my_list.append(product_name[i])

In [ ]:
print("\nAging products are: ") 
my_list[0:10]




<b>
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</b>

<b> Question 7. How to Decrease the product aging?
  
</b>

<b> Answer - I did not understand this question. </b>




<b>
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</b>





<b>
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</b>

#                                             <b> For Data Not In Stock </b>

In [ ]:
# filtering products that does not have stock available
df2 = df[df["status"] == "No Stock"]

<b> 1. Which are the top Manufacturers with price, quantity,
</b>

<b> Answer - </b>

In [ ]:
x = df2.duplicated(subset = ["manufacturer","price", "description"])
df2[x].sort_values(by = 'price', ascending= False).head(3)

#

In [ ]:
x = df2.duplicated(subset = ["manufacturer","price", "description"])
df2[x].sort_values(by = 'qty', ascending= False).head(3)

#





<b>
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</b>

#

<b> Question 2. Which are the most profitable products? </b>

<b> Answer - </b>

####

#### As the qty is 0 in all the "No Stock" products, the most profitable products will be with the highest price

In [ ]:
x = df2.duplicated(subset = ["description","price"])

df2[x].sort_values(by = "price", ascending = False).head(5)

#





<b>
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</b>

#

<b> Question 3. Which is the product where you have seen decrease in the price?
</b>

<b> Answer - </b>

#

In [ ]:
# creating an empty list
my_list = []

# getting the unique names of all products
product_name = df2.description.unique()     

# looping throught all the products
for i in range(len(product_name)):
    
    # storing individual products
    data = df2[df2['description'] == product_name[i]];
    
    # then, iterating through the individual products because the same products have different creation dates
    for x in range(len(data)):
        
        # if the control is on last product then skip
        if x == (len(data) - 1):
            pass;
        
        # if not then check if the next product has lower value than the previous
        elif data.iloc[x, 8] > data.iloc[x + 1, 8]:
            my_list.append(data.iloc[0,5])

In [ ]:
print("\nProducts that are dropping in price are:")
my_list[0:10]

#





<b>
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</b>

#

<b> Question 4. Which is the product where you have seen increase in the price? </b>

<b> Answer - </b>

#

In [ ]:
# creating an empty list
my_list = []

# getting the unique names of all products
product_name = df2.description.unique() 

# looping throught all the products
for i in range(len(product_name)):
    
    # storing individual products
    data = df2[df2['description'] == product_name[i]];
    
    # then, iterating through the individual products because the same products have different creation dates
    for x in range(len(data)):
        
        # if the control is on last product then skip
        if x == (len(data) - 1):
            pass;
        
        # if not then check if the next product has higher value than the previous
        elif data.iloc[x, 8] < data.iloc[x + 1, 8]:
            my_list.append(data.iloc[0,5])

In [ ]:
print("\nProducts which are increasing in price are:")
my_list[0:10]

#





<b>
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</b>

#

#### Question 5. Which is the top category by price and quantity?

#### Answer -

#

#### As there is no quantity present in the data for "No Stock available" products, we can't find top category by price "and" quantity, but we can find top category with only price.

In [ ]:
x = df2.duplicated(subset = ["description","price"])
df2[x].sort_values(by='price', ascending =False).head(3)